---
import MainLayout from "../MainLayout/MainLayout.astro";
import { getAllPosts } from './WritingsPage/index.astro'    
import PrimaryButton from "../Buttons/PrimaryButton.astro";

import { Markdown } from 'astro/components';
import { Icon } from 'astro-icon'

export const upForWork = true

const title = 'Roman Munar | Software Engineer'
const description = 'Fullstack Engineer experimenting with lots of software projects'

const allPosts = await getAllPosts();

const now = [
    'Building Prioritizer',
    'Finding a new development role',
    'Automating things with zx and puppeteer',
]
---
<MainLayout title={title} description={description}>
    <header class="px-4 max-w-3xl mx-auto bg-brand-purple pb-12 pt-10 md:pt-20">
        <img class="md:float-right aspect-square h-40 rounded-full" src="/images/dist/Me-min.webp" alt="Me Smiling">
        <h1 class="font-bold text-2xl md:text-5xl text-brand-dark-red">Roman Munar</h1>
        <h2 class="pt-1">A self-taught fullstack software developer</h2>
        <p class="text-sm opacity-90 pt-4">Likes to build and tinker with new web development toolings
            <span class="block"></span> and share the experience here on my <a class="text-brand-link-blue" href="/writings">blog</a>/<a class="text-brand-link-blue" href="/notes">notes</a>
        </p>
    </header>
    <div class="px-4 max-w-3xl space-y-8 mx-auto"> <!-- grid gap-4 [grid-template-columns:1fr_0.66fr] -->
        <section>
            <p class="font-display text-brand-dark-green font-bold">Latest content</p>
            <ul class="md:px-4 py-2 space-y-4">
                {allPosts.map(({title, url, publishedAt, publishDate, draft, readingTime})=> (
                    <li>
                        <a class="block p-1 border-b border-brand-light-blue" href={url}>
                            <article class="flex flex-col md:flex-row justify-between">
                                <header>
                                    <h1>{title}</h1>
                                </header>
                                {!draft && (
                                    <div class="flex text-sm ml-auto md:m-0">
                                        <time datetime={publishedAt}>{publishDate}</time> <span class="px-1">•</span>
                                        <p>{readingTime}</p>
                                    </div>
                                )}
                            </article>
                        </a>
                    </li>
                ))}
            </ul>
            <PrimaryButton isAnchorEl href='/writings' class='mt-4'>
                Read all posts <Icon class='opacity-70 inline h-5 w-5' name='arrow-right' pack='cil' />
            </PrimaryButton>
        </section>
        <!-- Or We can just lay everything there -->
        <section>
            <p class="font-display text-brand-dark-green font-bold">Now</p>
            <ul class="px-4 py-2 space-y-4">
                {now.map((n)=> (
                    <li class="p-1 border-b border-brand-light-blue">
                        <Markdown>{n}</Markdown>
                    </li>
                ))}
            </ul>
            <PrimaryButton isAnchorEl href='/work' class='mt-4'>
                See all projects <Icon class='opacity-70 inline h-5 w-5' name='arrow-right' pack='cil' />
            </PrimaryButton>
        </section>
        <div class="invisible pt-28"></div>
    </div>
</MainLayout>
