---
import Icon from "astro-icon";
import { routes, socialLinks } from "../pages/index.astro";

---

<header class="_sticky top-0 bg-stone-50 mt-20">
	<div class="container lg:max-w-5xl mx-auto flex space-x-5">
		<img src="/Me-min.png" class="h-28 w-28 bg-black xl:-ml-36 rounded-full border border-stone-50" />
		<div class="flex-1">
			<h1 class="text-3xl p-1 textrstone-700">
				Roman Munar
			</h1>
			<hr class="h-0.5 bg-stone-600" />
			<div class="flex items-center justify-between p-1">
				<ul class="flex space-x-5">
					{routes.map(link => (
					<li>
						<a class="text-lg font-medium text-stone-600 hover:text-stone-800 transition" href={link.url}>
							{link.title}
						</a>
					</li>
					))}
				</ul>
				<ul class="flex space-x-2 mt-1">
					{socialLinks.map(link => (
					<li>
						<a href={link.link} target="_blank" rel="noopener noreferrer">
							<div class="flex items-center justify-center h-7 w-7 bg-yellow-100 rounded-full border border-black"
								title={link.label}>
								<Icon role="img" class="h-5" name={link.iconName} /> <span
									class="hidden">{link.label}</span>
							</div>
						</a>
					</li>
					))}
				</ul>
			</div>
		</div>
	</div>
</header>