---
import { Icon } from 'astro-icon'
import BreadCrumbs from "./BreadCrumbs.astro";

export interface Props {
    title: string
    withBreadCrumbs?: boolean
    description?: string
    updatedAt?: string
    lastUpdateDate?: string
    readingTime?: string
    tags?: string[]
}

const {title, withBreadCrumbs, description, updatedAt, lastUpdateDate, readingTime, tags} = Astro.props as Props
---
<header class="bg-brand-dark-purple shadow px-4">
    <div class="container pt-10 md:pt-20 pb-12">
        {withBreadCrumbs ? <BreadCrumbs /> : null}
        <h1 class="text-4xl md:text-5xl font-display text-white">
            {title}
        </h1>
        {description ? (<p class="py-2 max-w-[65ch]">{description}</p>) : null}
        <div class="grid grid-cols-1 pt-5">
            {lastUpdateDate ? (
                <p>
                    <Icon class='opacity-70 inline h-5 w-5' name='clock' pack='heroicons-solid' />
                        Last updated on <time datetime={updatedAt}>{lastUpdateDate}</time>
                </p>
            ) : null}
            {readingTime ? (
                <p>
                    <Icon class='opacity-70 inline h-5 w-5' name='bookmark' pack='heroicons-solid' />
                    {readingTime}
                </p>
            ) : null}
            {tags ? (
                <p class="pt-4">
                    {tags?.join(', ')}
                </p>
            ) : null}
        </div>
    </div>
</header>