---
import MainLayout from  "../../MainLayout/MainLayout.astro"
import Header from  "../../Header.astro"

import { Blog, FrontMatterMetadata } from  "../../../types"
import { formatDate } from  "../../../utils"
import readingTimeLib from "reading-time"

export const addPubDateAndReadingTime = (p: FrontMatterMetadata) => ({
    ...(p.publishedAt && { publishDate: formatDate(p.publishedAt) }), 
    readingTime: readingTimeLib(p.astro.source).text,
    draft: !!p.publishedAt,
    ...p
})

export let getAllPosts  = async () => {
  const posts: FrontMatterMetadata[] = await Astro.fetchContent("../../../pages/writings/*.md");
  const newPosts: Blog[] = posts.map(addPubDateAndReadingTime).filter(p => p.draft)

  return newPosts.sort((a, b) => new Date(b.publishedAt).valueOf() - new Date(a.publishedAt).valueOf())
};

const allPosts = await getAllPosts();

const title = 'Writings'
const description = 'Thoughts about software development, working on side projects, web technologies, and personal life.'
---

<MainLayout title={title} description={description}>
    <Header title={title} description={description} />
    <div class="container px-4 pt-20 pb-12">
        <ul class="grid md:grid-cols-2 lg:grid-cols-3 gap-4"> <!-- add to horizontally scroll: flex-nowrap max-w-full overflow-x-auto -->
            {allPosts.map(({title, description, image, imageAlt, url, publishDate, publishedAt, readingTime, tags })=> (
                <li>
                    <a class="block h-full border border-brand-light-blue rounded overflow-hidden" href={url}>
                        <article class="flex flex-col h-full">
                            <header class="h-[198px] flex items-center justify-center bg-brand-old-purple">
                                {image ? (
                                    <img src={image} alt={imageAlt ?? title}>
                                    <h1 class="sr-only">{title}</h1>
                                ) : (
                                    <h1 class="text-brand-dark-green font-bold text-lg text-center">{title}</h1>
                                )}
                            </header>
                            <div class="flex-1 flex flex-col p-4">
                                <div class="flex-grow">
                                    <p class="text-lg">{description}</p>
                                </div>
                                <div class="pt-4">
                                    <div class="text-sm flex-none self-end flex ml-auto md:m-0">
                                        <time datetime={publishedAt}>{publishDate}</time> <span class="px-1">•</span>
                                        <p>{readingTime}</p>
                                    </div>
                                    <p class="text-sm text-brand-link-blue">{tags?.join(', ')}</p>
                                </div>
                            </div>
                        </article>
                    </a>
                </li>
            ))}
        </ul>
    </div>
</MainLayout>
